#folders
untracked/
docs/datasheets/

##pcb folders
pcb/Reference-Quetzal-1/
pcb/node/__Previews/
pcb/node/History/
pcb/node/lib/
pcb/node/Project\ Logs\ for\ node/
pcb/node/__Previews/
pcb/node/History/